################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FranglaisChat/bin/Debug
/FranglaisChat/obj
/FranglaisChat/wwwroot/lib
/FranglaisChat/bin/Release/net8.0
/FranglaisChat/Properties/PublishProfiles/Franglais - Web Deploy.pubxml.user
