@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div id="profileDiv" v-cloak>
    <label>
        User Name:
        <input type="text" id="userNameTextBox" v-model="userName"/>
    </label>
    <label>
        Chat Language:
        <select id="chatLanguageDDL" v-model="selectedChatLanguage">
            <option v-for="lang in languages" :value="lang.code">{{lang.name}}</option>
        </select>
    </label>
    <label>
        Native Language:
        <select id="nativeLanguageDDL" v-model="selectedNativeLanguage">
            <option v-for="lang in languages" :value="lang.code">{{lang.name}}</option>
        </select>
    </label>
    <button v-on:click="saveProfile" class="btn btn-info">Save</button>
</div>

@section scripts
{
    <script src="~/lib/vue/vue.global.js"></script>
    <script src="~/lib/vue/vue.global.min.js"></script>
    <script src="~/lib/vue/vue.global.prod.js"></script>
    <script src="~/lib/vue/vue.global.prod.min.js"></script>
    <script src="~/js/LanguageDictionary.js"></script>
    <script src="~/js/Profile.js"></script>
}